<html>
  <head>
      <title>Alvin's website</title>

    </head>
    <body background="http://www.hd-freewallpapers.com/latest-wallpapers/cute-pug-puppies-images-download.jpg">
          <div>
          <div>
              <h1 style="font-size: 40px"><a href="/">Alvins Blog</a></h1>
          </div>

          <div>

         <h2 style="font-size: 27px"><a href="">My first post</a></h2>
         <p style="font-size: 17px"> </p>
         <a style="font-size: 20px" href="https://www.fluentu.com/blog/english/thanksgiving-list-of-foods/"> sign up for free on Moviestarplanet today!</a><br>
         <img width="350px"src="https://images-na.ssl-images-amazon.com/images/I/81xk3hcqOXL.png">

     </div>

     <div>
         <h2><a href="">My second post</a></h2>
         <ph style="font-size: 17px"> </p>
        <a style="font-size: 20px" href="https://www.visitlondon.com/things-to-do/whats-on/new-years-eve/things-to-do-on-new-years-eve-in-london">What to do on New Year's eve</a>
     </div>
   </div>
 </body>
</html>

    <img width="400px"src="https://outline-prod.imgix.net/20170316-M4uLvNJu3IxkSy60g03P?auto=format&q=60&w=1280&s=53ccc9ad4ad3e9d116d4fb6291f1eb43">
      <p style="font-size: 20px">published: 29.05.2018, 14:23. Last update: 31.05.2018, 10:00 by /admin Alvin Hornliden</p>
      <a Style="font-size: 34px" href="{% url 'post_list' %}">Next page, Games! </a>  <img width="150px"src="https://image.flaticon.com/icons/svg/25/25426.svg">
</html>
