{% load staticfiles %}
<html>
<head>
  <title>Alvin's website</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/games.css' %}">

</head>

<body background="https://i.pinimg.com/originals/1b/d7/8d/1bd78daab0bd76b6352dcefceb72c6ca.jpg">
  <div>

    {% for game in games %}
    <div class = "game-wrapper">
      <h2> {{ game.title }} </h2>
      <p>published: {{ game.published_date }} creator: {{ game.creator }}</p>
      <a href="{{ game.link }}">{{ game.link }}</a>
      <p> {{ game.text|linebreaksbr }} <p>
        {% if game.picture %}
          <img src="{{ game.picture.url }}">
        {% endif %}
  <a Style="font-size: 34px" href="{% url 'post_list' %}">Previous page, post your own games! </a>  <img width="150px"src="https://alvin314.pythonanywhere.com/">
    </div>
      {% endfor %}
    </div>
</body>
</html>
