body {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h2 {
    color: black;
    font-family: 'Orbitron', sans-serif;
}

p {
  font-size: 17px;
  font-style: sans-serif;
}

a{
  color: #ff00fa;
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
}

.content-wrapper {
  height: 100%;
  background-image: url(https://i.pinimg.com/originals/8d/9e/1f/8d9e1fa569b0227e7b78db1d1b034f73.jpg);
  background-size: contain;
    background-repeat: no-repeat;
}
